.row-fluid {
  background-color: #999;
}
html, body, #visualContainer, #editorContainer, #main, .container-fluid {
  height: 100%;
  background-color: #999;
}
body {
  overflow: hidden;
}
#editor {
  padding: 0px;
  border: 0px;
}
.ace_editor {
  position: relative !important;
  margin: 0px auto;
  height: 100%;
  width: 100%;
}
#editorContainer .ace_scrollbar {
  background-color: #999;
  overflow-y: auto;
}

.ace_marker-layer .scopedVariableFinder {
  position: absolute;
  z-index: 6;
  background-color: blue;
  opacity: .4;
}
.ace_marker-layer .curExpression {
  position: absolute;
  z-index: 5;
  background-color: green;
  opacity: .4;
}
#curExpressionInfo {
  padding-top: 10px;
}

.hidden {
  display: none;
}

div.stackFrame, div.scopes {
  background-color: #ccc;
  border: 1px solid #ffcc99;
  border-radius: 10px;
  margin: 10px 0px;
  overflow: hidden;
}
div.stackFrame p, div.scopes p.prop {
  margin: 0px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
}
div.stackFrame p.section {
  width: 49%;
  text-align: center;
  float: left;
}
p.section + p.section {
  border-left: 1px solid black
}
p.title {
  background-color: #aaa;
  text-align: center;
  border-radius: 10px 10px 0px 0px;
}

div.stackFrame.scoped {
  background-color: #bbb;
}

h3.colheading {
  line-height: 25px;
  margin: 0px 0px 10px 0px;
  text-align: center;
}
