.node rect {
  fill: #ccc;
  stroke: #ffcc99;
  stroke-width: 1.5px;
}   

.node {
  font: 12px sans-serif;
}   

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}   

.row-fluid {
  background-color: #999;
}
html, body, #visualContainer, #editorContainer, #main, .container-fluid {
  height: 100%;
  background-color: #999;
}
body {
  overflow: hidden;
}
#editor {
  padding: 0px;
  border: 0px;
}
.ace_editor {
  position: relative !important;
  margin: 0px auto;
  height: 100%;
  width: 100%;
}
#editorContainer .ace_scrollbar {
  background-color: #999;
  overflow-y: auto;
}

.ace_marker-layer .scopedVariableFinder {
  position: absolute;
  z-index: 6;
  background-color: blue;
  opacity: .4;
}
.ace_marker-layer .curExpression {
  position: absolute;
  z-index: 5;
  background-color: green;
  opacity: .4;
}
#curExpressionInfo {
  padding-top: 10px;
}

.hidden {
  display: none;
}
